<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card-body text-center">
                <img src="../../../assets/images/404.png" class="img-fluid" alt="Not Found">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-xs-12">
            <a class="btn btn-secondary btn-lg btn-block" [routerLink]="['/home']"><i class="fa fa-home"
                    aria-hidden="true"></i> Home</a>
        </div>
    </div>
</div>